<!DOCTYPE html>
<!--[if IE 8]> <html lang="ja" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="ja" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="ja">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>aaaa</title>
    <script src="assets/plugins/jquery-1.10.1.min.js" type="text/javascript"></script>
    
    <style type="text/css">
    	body{
    		background:gray;
			font-family:Georgia, serif;;
    	}
	    .page-container{
	    	width: 100%;
	    	height: 100%;
	    	margin: auto;
	    	//background:gray;
	    }
	    .video{
			margin:0 auto;
			width:80%;
			//background:red;
			//text-align:center;
			padding-top:30px;
			padding-bottom:30px;
	    }
	    .title{
			margin:0 auto;
			width:80%;
			//background:green;
			//text-align:center;
			
	    }
	    .content{
			margin:0 auto;
			width:80%;
			background:white;
			//text-align:center;
	    }
    </style>
</head>
<body>
    <div class="page-container">
		 <div class="title">
		 		<h2>天下无贼</h2>
 		 </div>
		 <div class="video">
		 		<video width="100%" controls='controls' poster='assets/img/mockup/no-image.png' src='<%= message %>' type='video/mp4'></video>
 		 </div>
		 <div class="content">
		 		影片表现的一个有情有义、浪子回头的故事，是人性中善与恶的一次又一次的正面交锋，是沉睡心灵深处的良知被唤醒，并以血的代价寻找心灵家园的一次长途跋涉，是一趟重建人类尊严的艰苦旅行。影片里到处是贼，而淳朴敦厚的农民傻根却愿意相信“天下无贼”。这是一个多么易碎的好梦，一个多么容易破灭的理想。而正是这种痴人说梦的境界，最终改变了两个盗贼——王薄和王丽的命运，重新作出了他们的人生抉择。你可以不相信“天下无贼”，但你不能够怀疑善良和真诚的力量。[2] 
男贼王薄和女贼王丽是一对扒窃搭档，也是一对浪迹天涯的亡命恋人。他们在一列火车上遇到了一个名叫傻根的农民，他刚刚从高原上挣了一笔钱要回老家盖房子娶媳妇。傻根不相信天下有贼，王薄最初想对他下手，后来却被他的纯朴所打动，决定保护傻根，圆他一个天下无贼的梦想，并由此与另一个扒窃团伙引发了一系列的明争暗斗。该团伙头目黎叔意欲收服王薄遭拒，该团伙其他成员与王薄比试皆败下阵来，交手之中却被潜伏的警察把钱掉
包，后警察现身，将双方逮捕，黎叔和王薄、王丽均欲从车厢上逃走，却相遇。王丽先走后，王薄为保护傻根的钱与黎叔交手不敌，临终时意欲惊动警察，并发短信给王丽，安慰她没事，剧终黎叔被捕，钱归还于傻根。画面定格于王丽在甘南拉卜楞寺拜佛的那一幕。
 		 </div>
 	</div>
</body>
</html>
